<div class="top-bar row mobile-show-parent-link show-for-medium-up" ng-controller="NavbarCtrl">
  <section class="top-bar-section">
    <ul class="left">
      <li ng-class="{active: isActive(navItem)}" ng-repeat="navItem in navItems">
        <a ng-href="{{navItem.path}}">{{navItem.desc}}</a>
      </li>
    </ul>
  </section>
</div>

<div class="top-bar row mobile-show-parent-link show-for-small-only" ng-controller="NavbarCtrl">
  <section class="top-bar-section left">
        <a class="top-bar-link-margin" ng-repeat="navItem in navItems" ng-href="{{navItem.path}}">{{navItem.desc}}</a>
  </section>
</div>

