// http://colorschemedesigner.com/csd-3.5/#3-31T--t2w0w0
// http://css-tricks.com/perfect-full-page-background-image/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
  h3 {

    margin-left: auto;
    margin-right: auto;
  }
  img.client {
    width: 100%;
  }
}

.th {
  width: 100%;
  height: auto;
  box-shadow:0 0 0 0 !important;


  img.right {
    width:100px;
  }

  img.center {
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
  }
}
// injector
// endinjector
